/*-------------------------
          GENERAL
-------------------------*/

* {
  box-sizing: border-box;
}


/* Set default background image, font, size and text color */
body {
  height: 100vh;
  width: 100vw;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #00000f;
  font-family: 'Julius Sans One', sans-serif;
}

.wrapper {
  display: table-cell;
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}



@media (min-width: 1024px) {
  .wrapper{
    padding-top: 5rem;
  }
}


/* Set default styles for h1 */
h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: .1rem;
  padding: .7rem;
}

@media (min-width: 568px) {
  
  h1{
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1rem;
   }
}


@media (min-width: 1024px) {
  
  h1{
    font-size: 4rem;
    line-height: 4.5rem;
    padding: 1.2rem;
   }
}




/* horizontal line before p */
p::before {
  display:inline-block;
  content: "";
  background-color: #444349;
  height: .0625rem;
  width: .5rem;
  vertical-align:middle;
  margin: 0 .5rem
}

/* Set default styles for p */
p {
  margin-top: 2rem;
  font-style: italic; 
  font-weight: bold;
}


nav {
  background-color: hsla(100,0%,0%,.5);
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

nav a {
  padding: 2rem;
}
